@model IEnumerable<SoftwareDevelopmentProject.Models.Sport>

@{
    ViewBag.Title = "Book a sport";
}

<h2>ViewAllSports</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p> -->


<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="padding: 20px;">
            <div class="card text-center">
                <div class="card-body" style="border: 2px solid;">
                    <h5 class="card-title">@Html.DisplayFor(model => item.sport_name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => item.sport_description)</p>

                    @Html.ActionLink(linkText: "BOOK SPORT", actionName: "BookingASport", controllerName: "Booking", routeValues: new { id = item.sport_id },
htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

