<div class="form-horizontal">
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <h1 class="fas card-title">BEST SPORTS</h1>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Partial("UserMenu")
    </div>
    <div class="col-md-offset-1 col-md-8">
        <div class="card">
            <div class="card-header">
                Payment
            </div>
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">You can view payment status of your booking by clicking following button </p>
            </div>
        </div>
    </div>
</div>