@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Developed By </p
<p></p>
<p>Suchandra Ghosh</p>
<p>Karnjot Singh</p>
<p>Arun Kumar Vasudevan</p>
<p></p>
<p></p>
<p></p>
<p><h1>Thanks for tolerating :-P </h1></p>