<div class="form-horizontal">
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <h1 class="fas card-title">BEST SPORTS</h1>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Partial("UserMenu")
    </div>
    <div class="col-md-offset-1 col-md-8">
        <div class="card">
            <div class="card-header">
                <h3><strong>About Us</strong></h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">This application is built by -</h4>
                <p class="card-text">
                    &emsp;- Arun Kumar Vasudevan<br />
                    &emsp;- Karnjot Singh<br />
                    &emsp;- Suchandra Ghosh<br />
                </p>
            </div>
        </div>
    </div>
</div>